body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fbefee;

    /*background-image: url("easter_image.webp");*/
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(8px) brightness(40%) saturate(130%);
    -webkit-backdrop-filter: blur(8px) brightness(40%) saturate(130%);
    background-color: #3d3d3d;
}

h1 {
    margin: 0px;
    width: fit-content;
    height: auto;
}

h3 {
    margin: 0px;
    padding: 10px;
    width: fit-content;
    height: auto;
}

p {
    margin: 0px;
    width: fit-content;
    height: auto;
}

button {
    margin: 20px;
    padding: 12.5px 30px;
    border: 0px;
    border-radius: 100px;
    background-color: #2ba8fb;
    box-shadow: 0 0 20px rgba(177, 224, 255, 0.108);
    color: #fbefee;
    font-size: x-large;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff36;
    transform: scale(1.02);
}
  
button:active {
    background-color: #3d95cf9c;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

ul {
    margin: 0px;
    width: fit-content;
    height: auto;
    list-style-type: none;
    padding-left: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 0px;
    width: fit-content;
    height: auto;
    font-size: 15px;
    padding-bottom: 5px;
}

.main {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------*/
/* index.html */
/*------------*/

.main-header {
    margin: 0px;
    font-size: 40px;
}

#main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header-block {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-header-musalaisten {
    font-size: 40px;
}

#main-header-munajahti {
    font-size: 60px;
}

/*-------------------*/
/* content_page.html */
/*-------------------*/

#ohjelma-header {
    margin-top: 20px;
    padding: 10px;
}

.ohjelma-container {
    margin: 0px;
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}