body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    width: fit-content;
    height: auto;
}

a {
    margin: 0px;
    color: black;
    
}

.main {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.main-header {
    margin: 0px;
}

#main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header-block {
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-header-musalaisten {
    font-size: 5vw;
}

#main-header-munajahti {
    font-size: 10vw;
}